*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html{
	font-size: 100%;
	line-height: 1,5rem;
	height: 100%;
	scroll-behavior: smooth;
}
:root{
	--white-color: #fff;
    --bg-main: #e3edf7;
    --bg-dark: #303234;
    --primary-color: #31344b;
    --text-color: #777777;
    --text-color-dark: #B0B3B8;
    --blue-color: #1877f2;
    --blue-color-2: #e9f5ff;
    --outer-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    --outer-shadow-o: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7), inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
       inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
       ;
    --outer-shadow-dark: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.1);
    --outer-shadow-dark-o: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.1), inset 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
       inset -6px -6px 10px -1px rgba(255, 255, 255, 0.1);
    --icon-fb: #4267B2;
    --icon-insta: #FB3958;
    --icon-github: #333;
    --icon-youtube: #FF0000;
    --icon-tiktok: #000;
}
.app{
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	background: var(--bg-main);
	transition: all .3s linear;
	-moz-transition:  all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;

}
.card{
	position: fixed;
	max-width: 350px;
	height: fit-content;
	display: flex;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	padding: 20px 12px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: var(--white-color);
	border-radius: 7px;
	background: var(--bg-main);
	box-shadow: var(--outer-shadow);
	transition: all .3s linear;
	-moz-transition:  all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;

}
.card__title--img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: var(--outer-shadow);
	border: 5px solid var(--bg-main);
	transition: all .3s linear;
	-moz-transition:  all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
}
.card__title--img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;

	object-fit: cover;
}
.card__title--name{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;

}
.card__title--name h1{
	position: relative;
	color: var(--primary-color);
	
	font-weight: 600;
	line-height: 2.2rem;
	text-align: center;
}
.card__title--description{
	position: relative;
	text-align: center;
	font-weight: 400px;
	color: var(--text-color);
	line-height: 1.8rem;

}
.mt-10{
	margin-top: 10px;
}
.mb-10{
	margin-bottom: 10px;
}
.card__body{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
	justify-content: center;
}
.col{
	/*width: 100%;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;*/

}
.clo-lg-3{
	display: flex;
	justify-content: center;
	flex: 0 0 25%;
	max-width: 25%;
}
.card__item{
	/*position: relative;
	display: flex;
	justify-content: center;
	align-items: center;*/
	border: 2px solid var(--bg-main);
	width: 50px;
	height: 50px;
	background: var(--bg-main);
	box-shadow: var(--outer-shadow);
	/*transition: all .3s linear;
	-moz-transition:  all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;*/
	overflow: hidden;
	cursor: pointer;
}
.card__item:hover{
	box-shadow: var(--outer-shadow-dark-o);
}

.crd__link{
	position: relative;
	text-decoration: none;

}
.link__icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: var(--blue-color);
}
.link__icon.fab{
	font-size: 2.5rem;

}
.link__icon .fa-github{
	color: var(--icon-github);
}
